@page "/card"
@using BankApp.Data
@inject Database db

<div class="main">
    <br />
    <br />
    <div id="rectangle">
        <div class="cardinfo">@db.Cards[0].Name</div>
        <div class="cardinfo">@db.Cards[0].Number</div>
        @if (db.Cards[0].IsBlocked == true)
        {
            <div class="blockinfo">Карта заблокирована</div>
        }
        else
        {
            <div class="blockinfo1">sas</div>
        }
        <div class="cardinfo" id="inlineinfo">@db.Cards[0].MoneyCount рублей</div>
        @if (@Enum.GetName(db.Cards[0].System) == "MIR")
        {
            <img class="cardinfo" id="inlineinfo" src="/css/img/MIR48.png">
        }
        else if (@Enum.GetName(db.Cards[0].System) == "VISA")
        {
            <img class="cardinfo" id="inlineinfo" src="/css/img/VISA48.png">
        }
        else if (@Enum.GetName(db.Cards[0].System) == "MASTERCARD")
        {
            <img class="cardinfo" id="inlineinfo" src="/css/img/MASTER48.png">
        }
    </div>
    <br />
    <div id="buttons">
        @if (db.Cards[0].IsBlocked == false)
        {
            <button class="btn btn-danger">Пополнить</button>
            <button class="btn btn-success">Перевести</button>
        }
        @if (db.Cards[0].IsBlocked == true){
            <button class="btn btn-danger disabled">Пополнить</button>
            <button class="btn btn-success disabled">Перевести</button>
        }
    </div>
    <br />
    <br />
    <br />
</div>
@if (db.Cards[0].IsBlocked == false)
{
    <div>
        <a href="/history/card">
            <button class="list">История операций</button>
        </a><br />
        <button class="list" @onclick="SetBlock">Заблокировать</button><br />
        <button class="list" @onclick="ReName">Переименовать</button>
    </div>
}

@code{
    private async void ReName(){
        string name = await Application.Current.MainPage.DisplayPromptAsync("Переименование карты", "Введите новое название", "Переименовать", "Отмена", "Имя");
        if (name is null||string.IsNullOrEmpty(name)) return;
        else db.Cards[0].Name = name;
    }

    private async void SetBlock()
    {
        string pass = await Application.Current.MainPage.DisplayPromptAsync("Блокирование карты", "Вы уверены, что хотите заблокировать карту?", "Заблокировать", "Отмена", "Пароль");
        if (pass is null || string.IsNullOrEmpty(pass)) return;
        else if (pass == db.Password) db.Cards[0].IsBlocked = true;
    }

}