@page "/"
@using BankApp.Data
@inject Database db

<div class="page">
    <main>
        <div class="top-row px-4">
            <a>МОИ КАРТЫ</a>
        </div>
    </main>
</div>
<hr size="6">
@foreach (var Card in db.Cards)
{
    <p>@Card.Name</p> 
    <p align="right">@Card.Money<a> рублей</a></p>
    <p><img src="@Card.svgcode"><a>@Card.Number</a></p>
    <hr size="6">
}

<div class="page">
    <main>
        <div class="top-row px-4">
            <a>МОИ СЧЕТА</a>
        </div>
    </main>
</div>
<hr size="6">
@foreach (var BankAccount in db.BankAccounts)
{
    <p>@BankAccount.Name</p>
    <p align="right">@BankAccount.MoneyCount<a> рублей</a></p>
    <p>@BankAccount.Number</p>
    <hr size="6">
}

<div class="page">
    <main>
        <div class="top-row px-4">
            <a>МОИ КРЕДИТЫ</a>
        </div>
    </main>
</div>
<hr size="6">
@foreach (var Credit in db.Credits)
{
    <p>@Credit.CreditType</p>
    <p align="right">@Credit.MoneyCount<a> рублей</a></p>
    <p><a>Платеж </a>@Credit.PayData</p>
    <hr size="6">
}
